@model IEnumerable<SneakerStore.Models.Brand>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/estilos.css" />

<h1>Marcas</h1>

<p>
    @*<a asp-action="Create">Crear</a>*@
    <a class="btn btn-primary" asp-action="Create">NUEVA MARCA</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName):
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.BrandId">Editar</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.BrandId">Detalles</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BrandId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
